@charset "utf-8";
/* CSS Document */

body {
	background: url(grafika/tlo.png);
	width:870px;
	margin:25px auto;
	font-family: "Museo-300", Helvetica, sans-serif;
	color:#666;
	
}

/*header layout*/


#header ul, #header ul li, #footer ul, #footer ul li {
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	line-height:0;
	}
#header li, #footer li {
	float:left;
	}
		

#tekst ul {
	list-style-image:url(grafika/punkt.png);
	}

.head_a1 {
	background: url(grafika/01.png);
	width:13px;
	height:10px;
	}
	
.head_a2 {
	background: url(grafika/02.png);
	width:842px;
	height:10px;
	}
	
.head_a3 {
	background: url(grafika/04.png);
	width:15px;
	height:10px;
	}
	
.logolewa li {
	clear:both;
	display: block;
	position:relative;
	left:150px;
	top:20px;
	}
.logolewa div {
	padding-top:10px;
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	font-weight: bolder;
	}
	
#osoby {
	text-align:right;
	color:#aaa;
	font-size:14px;
	font-weight:300;
	position:relative;
	top:20px;
	right:100px;
	}
#osoby span {
	font-size: 16px;
	font-weight:500;
	}
#osoby p {
	margin-top:11px;
	}
	
.logo {
	font-family: "Myriad Pro", sans-serif;
	color: #999;
	width:850px;
	height:82px;
	position:relative;
	text-align:center;
	left:20px;
	top:20px;
	z-index:0;
	}
.logo li{
	clear:both;
	list-style:none;
	}

.logo span {
	padding-right:110px;
	padding-top:2em;
	}
	
#head_b1 {
	background-image: url(grafika/06.png);
	width:870px;
	height:100px;
	clear:both;
	font-size:24px;
	font-weight:bold;
	z-index:2;
	}

/*end of header definition*/

/*main section layout*/

#main {
	background:url(grafika/08.png);
	height:360px;
	font-size:0.8em;
	}

#main #text {
	text-align:center;
	}

strong {
	font-weight:600;
	}

#odnosniki {
	margin:2em 0 0 70px;
	line-height: 150%;
	font-size:0.9em;
	position: absolute;
	}

#odnosniki span {
	word-spacing: 1.5em;
	color:#0d72b9;
	}
	
#odnosniki a, .mail{
	white-space: nowrap;
	text-decoration:none;
	font-weight:400;
	color:#666666;
	}
#odnosniki a:hover, .mail:hover{
	color:#0d72b9;
	}

#tekst {
	width:750px;
	height:235px;
	text-align:justify;
	overflow: auto;
	position: absolute;
	;
	margin: 5.5em auto auto 70px;
	}
#tekst div {
	padding:0 3em 1em 0;
	}
	
h1 {
	font-size:1em;
	font-weight:600;
	}

	
/*end main*/

/*footer def*/
#footer, #footer a {
	font-size: 9px;
	text-align:right;
	color:#CCC;
	text-decoration:none;
	}
#footer a:hover{
	color:#FF0000;
	}
	
#footer span {
	position:relative;
	top:7px;
	right:1em;
	}
	
.foot_a1 {
	background: url(grafika/10.png);
	width:23px;
	height:25px;
	}
.foot_a2 {
	background: url(grafika/12.png);
	width:822px;
	height:25px;
	margin-top:4em;
	}
.foot_a3 {
	background: url(grafika/15.png);
	width:25px;
	height:25px;
	}

#nav {
	clear: both;
	background: url(grafika/pastlo.png) no-repeat top;
	text-align:center;

}
